@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

html, body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  line-height: 1.75;
}

a {
  color: #bbb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.title {
  font-family: 'Orbitron', sans-serif;
  top: 0;
  position: fixed;
    width: 100%;
    padding: 1em 1em 1em;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    color: #bbb;
    z-index: 2; /* TODO Solve this in HTML */

}

.text {
  font-family: 'Orbitron', sans-serif;
  margin: 0 auto; 
  width: 65%;
  margin-top: 10em;
  margin-bottom: 10em;
  overflow: hidden;
  border-style: none;
  color: #555;
  z-index: 2; /* TODO Solve this in HTML */
  background-color: #fff;
}

.menu {
  position: fixed;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em 1em 1em;
  z-index: 2; /* TODO Solve this in HTML */

}

img {
  margin: .4em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: .5em;
  background-color: #212ab5;
  color: white;
  text-align: center;
}

.popup {
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
  display: none;
}
.popup.active {
  display: block;
}
.popup .title {
  font-size: 1.2rem;
}
.popup .link {
  display: inline-block;
  background: #000;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 0.5em;
}
*::-webkit-scrollbar {
  display: none;
}
.pop-up {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 99999;
  background: #fff;
  color: #000;
  width: 350px;
}
.pop-up .panel {
  width: 100%;
  overflow: auto;
  padding: 2rem 1rem;
  box-sizing: border-box;
  max-height: 70vh;
}
.pop-up .exit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 980px) {
  * {
    display: none;
  }
}
